@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="page">
    <div class="!w-75 bg-gray-500">
        <NavMenu />
    </div>

    <main>
        <Sidebar />

        <div class="px-4 py-2">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {

}