@implements IDisposable

@inject NavigationManager NavigationManager

<div class="flex h-screen">
    <!-- Sidebar -->
    <div class="text-white p-4 w-full overflow-y-auto">
        <a class="mb-6 text-xl font-semibold" href="">BlazorShop.Server</a>
        <nav class="flex flex-col">

            <div class="nav-item px-3 py-2">
                <NavLink class="text-white nav-item px-3 py-2 flex items-center rounded hover:bg-gray-700" href=""
                         Match="NavLinkMatch.All">
                    <span class="px-3">
                        <img class="w-6 h-6" src="/images/icons/Home.svg" alt="home icon" />
                    </span> Home
                </NavLink>
            </div>

            <div class="nav-item px-3 py-2">
                <NavLink class="text-white nav-item px-3 py-2 flex items-center rounded hover:bg-gray-700"
                         href="counter">
                    <span class="px-3">
                        <img class="w-6 h-6" src="/images/icons/Cloud.svg" alt="home icon" />
                    </span> Counter
                </NavLink>
            </div>

            <div class="nav-item px-3 py-2">
                <NavLink class="text-white nav-item px-3 py-2 flex items-center rounded hover:bg-gray-700"
                         href="weather">
                    <span class="px-3">
                        <img class="w-6 h-6" src="/images/icons/Cloud.svg" alt="home icon" />
                    </span> Weather
                </NavLink>
            </div>

            <div class="nav-item px-3 py-2">
                <NavLink class="text-white nav-item px-3 py-2 flex items-center rounded hover:bg-gray-700" href="auth">
                    <span class="px-3">
                        <img class="w-6 h-6" src="/images/icons/Key.svg" alt="home icon" />
                    </span> Auth Required
                </NavLink>
            </div>

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3 py-2">
                        <NavLink class="text-white nav-item px-3 py-2 flex items-center rounded hover:bg-gray-700"
                                 href="Account/Manage">
                            <span class="px-3">
                                <img class="w-6 h-6" src="/images/icons/User.svg" alt="home icon" />
                            </span> @context.User.Identity?.Name
                        </NavLink>
                    </div>
                    <div class="nav-item px-3 py-2">
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit"
                                    class="text-white nav-item px-3 py-2 flex items-center rounded hover:bg-gray-700">
                                <span class="px-3">
                                    <img class="w-6 h-6" src="/images/icons/LockClosed.svg" alt="home icon" />
                                </span> Logout
                            </button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3 py-2">
                        <NavLink class="text-white nav-item px-3 py-2 flex items-center rounded hover:bg-gray-700"
                                 href="Account/Register">
                            <span class="px-3 text-white">
                                <img class="w-6 h-6" src="/images/icons/UserPlus.svg" alt="home icon" />
                            </span> Register
                        </NavLink>
                    </div>
                    <div class="nav-item px-3 py-2">
                        <NavLink class="text-white nav-item px-3 py-2 flex items-center rounded hover:bg-gray-700"
                                 href="Account/Login">
                            <span class="px-3">
                                <img class="w-6 h-6" src="/images/icons/ArrowRightEndOnRectangle.svg" alt="home icon" />

                            </span> Login
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </nav>
    </div>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
