@import "tailwindcss";
@config "../../tailwind.config.js";

*:focus {
    outline: none !important;
}

html,
body {
    font-family: "IRANSansX-Regular", sans-serif !important;
}

@layer base {

    /* ---- font dana ---- */
    @font-face {
        font-family: "Dana";
        /* 400 */
        src: local("Dana"), url("../fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Dana Medium";
        /* 500 */
        src: local("Dana Medium"), url("../fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Dana DemiBold";
        /* 600 */
        src: local("Dana DemiBold"), url("../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
        font-display: swap;
    }

    /* ---- font morabba ---- */
    @font-face {
        font-family: "Morabba Light";
        src: local("Morabba Light"), url("../fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Medium";
        src: local("Morabba Medium"), url("../fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Bold";
        src: local("Morabba Bold"), url("../fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
        font-display: swap;
    }

    /* ---- font IRANSansX ---- */
    @font-face {
        font-family: "IRANSansX-Thin";
        font-style: normal;
        font-weight: 100;
        src: url('../fonts/IRANSans/woff/IRANSansX-Thin.woff') format('woff'), url('../fonts/IRANSans/woff2/IRANSansX-Thin.woff2') format('woff2');
    }

    @font-face {
        font-family: "IRANSansX-UltraLight";
        font-style: normal;
        font-weight: 200;
        src: url('../fonts/IRANSans/woff/IRANSansX-UltraLight.woff') format('woff'), url('../fonts/IRANSans/woff2/IRANSansX-UltraLight.woff2') format('woff2');
    }

    @font-face {
        font-family: "IRANSansX-Light";
        font-style: normal;
        font-weight: 300;
        src: url('../fonts/IRANSans/woff/IRANSansX-Light.woff') format('woff'), url('../fonts/IRANSans/woff2/IRANSansX-Light.woff2') format('woff2');
    }

    @font-face {
        font-family: "IRANSansX-Medium";
        font-style: normal;
        font-weight: 500;
        src: url('../fonts/IRANSans/woff/IRANSansX-Medium.woff') format('woff'), url('../fonts/IRANSans/woff2/IRANSansX-Medium.woff2') format('woff2');
    }

    @font-face {
        font-family: "IRANSansX-DemiBold";
        font-style: normal;
        font-weight: 600;
        src: url('../fonts/IRANSans/woff/IRANSansX-DemiBold.woff') format('woff'), url('../fonts/IRANSans/woff2/IRANSansX-DemiBold.woff2') format('woff2');
    }

    @font-face {
        font-family: "IRANSansX-ExtraBold";
        font-style: normal;
        font-weight: 800;
        src: url('../fonts/IRANSans/woff/IRANSansX-ExtraBold.woff') format('woff'), url('../fonts/IRANSans/woff2/IRANSansX-ExtraBold.woff2') format('woff2');
    }

    @font-face {
        font-family: "IRANSansX-Black";
        font-style: normal;
        font-weight: 900;
        src: url('../fonts/IRANSans/woff/IRANSansX-Black.woff') format('woff'), url('../fonts/IRANSans/woff2/IRANSansX-Black.woff2') format('woff2');
    }

    @font-face {
        font-family: "IRANSansX-ExtraBlack";
        font-style: normal;
        font-weight: 950;
        src: url('../fonts/IRANSans/woff/IRANSansX-ExtraBlack.woff') format('woff'), url('../fonts/IRANSans/woff2/IRANSansX-ExtraBlack.woff2') format('woff2');
    }

    @font-face {
        font-family: "IRANSansX-Heavy";
        font-style: normal;
        font-weight: 1000;
        src: url('../fonts/IRANSans/woff/IRANSansX-Heavy.woff') format('woff'), url('../fonts/IRANSans/woff2/IRANSansX-Heavy.woff2') format('woff2');
    }

    @font-face {
        font-family: "IRANSansX-Bold";
        font-style: normal;
        font-weight: bold;
        src: url('../fonts/IRANSans/woff/IRANSansX-Bold.woff') format('woff'), url('../fonts/IRANSans/woff2/IRANSansX-Bold.woff2') format('woff2');
    }

    @font-face {
        font-family: "IRANSansX-Regular";
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/IRANSans/woff/IRANSansX-Regular.woff') format('woff'), url('../fonts/IRANSans/woff2/IRANSansX-Regular.woff2') format('woff2');
    }
}
